* {
  box-sizing: border-box;
}

.box {
  border: 1px solid;
  width: 100px;
  height: 100px;
  background-color: blue;
}

.box1 {
  background-color: blue;
  border: 2px solid springgreen;
  position: relative;
  top: 40px;
  left: 40px;
}

.box2 {
  background-color: rgb(0, 255, 72);
  border: 2px solid rgb(255, 0, 170);
  position: relative;
  top: 50px;
  left: 50px;
}

.box3 {
  background-color: crimson;
  border: 2px solid blue;
  position: absolute;
  top: 10px;
  left: 50px;
}
